@import "../../theme.scss";

.address_input_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  position: relative;

  .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;

    p {
      margin: 0;
      color: $gray;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.3rem;
    }

    input {
      all: unset;
      color: $lightGray2;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.5rem;

      &:focus {
        color: $gray !important;
      }
    }
  }

  .error {
    position: absolute;
    bottom: -0.8rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8rem;
    color: $red;
  }

  &.arrow_down {
    svg {
      transform: rotate(180deg);
    }
  }

  &.fixed {
    .field {
      input {
        color: $offBlack;
      }
    }
  }

  &.error {
    .field {
      input {
        color: $red;
      }
    }
  }
}
